<% paginated_section(@feature_requests, :params => { :show_closed => @show_closed ? 'true' : 'false', :sort_by => params[:sort_by] }) do -%>

	<table class="data_table" summary="Feature Requests">
 <thead>
		<tr>
			<th><%= link_to 'ID', :sort_by=>(params[:sort_by]=='id ASC'?'id DESC':'id ASC'), :page => params[:page], :show_closed => @show_closed ? 'true' : 'false' -%></th>
			<th>Summary</th>
			<th><%= link_to 'Open Date', :sort_by=>(params[:sort_by]=='created_at ASC'?'created_at DESC':'created_at ASC'), :page => params[:page], :show_closed => @show_closed ? 'true' : 'false' -%></th>
			<th>Resolution</th>
			<th>State</th>
			<th>Assigned To</th>
			<th>Submitted By</th>
		</tr>
</thead><tbody>
		<% unless @feature_requests.nil? or @feature_requests.empty? -%>

			<% @feature_requests.each do |feature_request| -%>

				<tr class="<%= h feature_request.state -%>">
				<td class="strong"><%= feature_request.id -%></td>
				<td><%= link_to h(feature_request.summary), :controller => :feature_request, :action => :view, :id => feature_request.id -%></td>
				<td><%= feature_request.created_at.getgm.strftime('%Y-%m-%d') -%></td>
				<td><%= feature_request.resolution_string -%></td>
				<td><%= feature_request.state_string -%></td>
				<td><%= feature_request.assigned_to_string -%></td>
				<td><%= feature_request.created_by_string -%></td>
				</tr>

			<% end -%>

		<% else -%>

			<tr><td colspan="5">No Feature Requests Found!</td></tr>

		<% end -%>

 </tbody>
	</table>

<% end -%>