<div class="content">
<% @curloc = 'feature_request' -%>

<div class="small_nav">
  <%= link_to "Submit New FR", :action => :add, :id => @project_id -%>
</div>

<div class="filter">
  <p>Show Closed: <%= check_box_tag('show_closed', '1', @show_closed == '1', {:onchange => remote_function(:url => { :id => @project.id }, :loading => "Element.show('spinner')", :complete => "Element.hide('spinner')", :with => "'show_closed='+this.checked")}) -%></p>
  <p><% form_tag({:action => 'view'}, {:method => 'get'}) do -%>Jump to Request # <%= text_field_tag 'id', '', :size => 4 -%> <%= submit_tag 'Submit' -%><% end -%></p>
</div>

<div id="data">

  <%= render :partial => 'feature_request/fr_list' -%>

</div>
</div><!--content-->