<div class="content">
<% @curloc = 'feature_request' -%>

<% if @feature_request.nil? -%>

<h2>Feature Request cannot be found</h2>

<% else -%>

<div class="small_nav">
  <%= link_to "Back to List", :action => :list, :id => @feature_request.project_id -%>
</div>

<%= error_messages_for 'feature_request' -%>

<h2>[#<%= @feature_request.id -%>] <%= h @feature_request.summary -%></h2>

<% form_tag :action => 'update' do -%>

<div class="gravatar_user">
	<%= gravatar_for @feature_request.created_by -%>
</div>

  <div class="entry">
    <span class="label strong">Created By:</span>
    <span class="value"><%= @feature_request.created_by.name_and_link -%></span>
  </div>

  <div class="entry">
    <span class="label strong">Date Submitted:</span>
    <span class="value"><%= h @feature_request.created_at.strftime('%Y-%m-%d %H:%M') -%></span>
  </div>

<br class="clearb" />

  <div class="entry">
    <span class="label strong">Assigned To:</span>
    <span class="value">
      <%= (current_user != :false and current_user.member_of?(@feature_request.project) or current_user == @feature_request.created_by) ? 
        select('feature_request', 'assigned_to_id', [['None' , '100']] + @feature_request.project.users.collect{ |a| ["#{a.full_name} (#{a.login})", a.id] }) : 
        @feature_request.assigned_to.name_and_link -%>
    </span>
  </div>
  
  <div class="entry">
    <span class="label strong">Resolution:</span>
    <span class="value">
      <%= (current_user != :false and current_user.member_of?(@feature_request.project) or current_user == @feature_request.created_by) ? 
        select('feature_request', 'resolution_id', BugResolution.all.collect { |c| [c.name, c.id] }) :
        (@feature_request.resolution.nil? ? 'None' : @feature_request.resolution.name) -%>
    </span>
  </div>
  
  <div class="entry">
    <span class="label strong">State:</span>
    <span class="value">
      <%= (current_user != :false and current_user.member_of?(@feature_request.project) or current_user == @feature_request.created_by) ? 
        select('feature_request', 'state', [['Open'], ['Closed']]) : 
        @feature_request.state -%>
    </span>
  </div>

  <div class="entry">
    <div class="label strong">Summary:</div>
    <div class="value">
      <%= (current_user != :false and current_user.member_of?(@feature_request.project) or current_user == @feature_request.created_by) ?
        text_field('feature_request', 'summary', :size => '100', :maxlength => '255') :
        h(@feature_request.summary) -%>
    </div>
  </div>

  <div class="entry">
    <div class="label strong">Detailed Description:</div>
    <div class="value">
      <%= (current_user != :false and current_user.member_of?(@feature_request.project) or current_user == @feature_request.created_by) ? 
        text_area('feature_request', 'description', :cols => '100', :rows => '15') : 
        '<pre>' + h(word_wrap(@feature_request.description, 80)) + '</pre>' -%>
    </div>
  </div>
  
  <% if current_user != :false and current_user.member_of?(@feature_request.project) or current_user == @feature_request.created_by -%>
  <div class="entry">
    <div class="label strong">Add Comment:</div>
    <div class="value">
      <%= text_area_tag "add_comment", '', { :cols => 100, :rows => 15 } -%>
    </div>
  </div>
  <% end -%>

  <%= hidden_field 'feature_request', 'id' -%>
  <% if current_user != :false -%>
  <div class="bt-forms">
    <%= submit_tag 'Update Details' -%>
	</div><!--bt-forms-->
  <% end -%>

<% end -%>

<h2>History</h2>

<% unless @feature_request.comments.empty? -%>
<div class="commentsbox">
  <div class="header strong">Comments</div>
  <% @feature_request.comments.each do |comment| -%>
	<div class="gravatar_user">
		<%= gravatar_for comment.user -%>
	</div>
    <div class="entry">
      <pre>
Date: <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>
Posted By: <%= comment.user.name_and_link %>

<%= h(word_wrap(comment.comment)) %>
      </pre>
    </div>
  <% end -%>
</div>
<% end -%>

<% unless current_user == :false -%>
  <% form_tag :action => 'add_comment' do -%>
    <div class="entry">
	     <div class="label strong">Add Comment:</div>
      <div class="value">
        <%= text_area_tag "add_comment", '', { :cols => 100, :rows => 15 } -%><br />
		<div class="bt-forms">
        <%= submit_tag 'Add Comment' -%>
		 </div><!--bt-forms-->
        <%= hidden_field_tag 'feature_request_id', @feature_request.id -%>
      </div>
    </div>
  <% end -%>
<% end -%>

<% unless @feature_request.histories.empty? -%>
<div class="historybox">
	<div class="header strong">Updates</div>
	<% @feature_request.histories.each do |h| -%>
		<p>
			Updated: <%= h.created_at.strftime("%Y-%m-%d %H:%M") -%><br />
			<% h.history_lines.each do |h1| -%>
				<%= "#{h1.field_name}: #{h1.field_value_was} => #{h1.field_value_actual}" -%><br />
			<% end -%>
		</p>
	<% end -%>
</div>
<% end -%>

<% end -%>
</div><!--content-->