<div id="project_nav" class="clear">
<div id="featuresarea">
<ul id="featuresarea-tabs" class="clear">
 <li<%= ' class="tab active"' if @curloc == 'summary' -%>>
      <a<%= ' class="tab tabsellink"' if @curloc == 'summary' -%> href="<%= @project.home_page -%>">Summary</a>
    </li>
    <li<%= ' class="tab active"' if @curloc == 'files' -%>>
      <%= link_to 'Files', :controller => 'project', :id => @project.id, :action => 'files' -%>
    </li>
    <li<%= ' class="tab active"' if @curloc == 'bug' -%>>
      <%= link_to 'Bug Tracker', :controller => 'bug', :id => @project.id, :action => 'list' -%>
    </li>
    <li<%= ' class="tab active"' if @curloc == 'feature_request' -%>>
      <%= link_to 'Feature Requests', :controller => 'feature_request', :id => @project.id, :action => 'list' -%>
    </li>
    <% unless @project.changelog.blank? %>
      <li<%= ' class="tab active"' if @curloc == 'changelog' -%>>
        <%= link_to 'Changelog', :controller => 'project', :id => @project.id, :action => 'changelog' -%>
      </li>
    <% end %>
    <% unless @project.roadmap.blank? -%>
      <li<%= ' class="tab active"' if @curloc == 'roadmap' -%>>
        <%= link_to 'Roadmap', :controller => 'project', :id => @project.id, :action => 'roadmap' -%>
      </li>
    <% end -%>
    <% unless @project.repository_type == 'none' -%>
    <li<%= ' class="tab active"' if @curloc == 'code' -%>>
      <%= link_to 'Code', :controller => 'project', :id => @project.id, :action => 'code' -%>
    </li>
    <% end -%>
    <% if current_user != :false and (current_user.admin_of?(@project) or current_user.superuser) -%>
      <li<%= ' class="tab active"' if @curloc == 'admin' -%>>
        <%= link_to 'Admin', :controller => 'project', :id => @project.id, :action => 'admin' -%>
      </li>
    <% end -%>
    <% if current_user != :false and (current_user.superuser) and @project.state == 'pending' -%>
      <li<%= ' class="tab active"' if @curloc == 'show_pending' -%>>
        <%= link_to 'Pending', :controller => 'project', :id => @project.id, :action => 'show_pending' -%>
      </li>
    <% end -%>
 </ul>
	
</div><!--featuresarea-->

</div>