<% if @project.nil? -%>
<div id="content">
	<h3>Project Not Found!</h3>
</div>

<% else -%>

<div class="content">
<h2>Download Section</h2>
<div class="files">
<% @curloc = 'files' -%>
<% if @project.releases.count > 0 -%>
  <% for package in @project.packages -%>
    <a name="package-<%= package.id -%>"></a>
    <h2><%= h package.name %></h2>

    <% releases = Release.find(:all, :conditions => ['package_id = ?', package.id], :order => 'created_at DESC') -%>
    <% unless releases.empty? -%>
      <% for release in releases %>
        <a name="release-<%= release.id -%>"></a>
        <div class="rName">
          <span class="rNamePacket"><%= h release.name -%></span>
          <span> Released On: <%= h release.created_at.gmtime.strftime('%Y-%m-%d %H:%M') -%></span>
          <% unless release.release_notes.blank? -%>
            <span> | <a href="/project/release_notes/<%= release.id %>" title="Release Notes for <%= release.name -%> -- <%= @project.name %>" onclick="Modalbox.show(this.href, {title: this.title, width: 600}); return false;">Release Notes</a><span>
          <% end -%>
          <% unless release.changelog.blank? -%>
            <span> | <a href="/project/changelog/<%= release.id %>" title="Changelog for <%= release.name -%> -- <%= @project.name %>" onclick="Modalbox.show(this.href, {title: this.title, width: 600}); return false;">Changelog</a><span>
          <% end -%>
        </div><!--rName-->

        <% for released_file in release.released_files %> 
          <span class="rVersions">
            <%# Hack for core downloads tracking -%>
            <% if @project.id == 6 -%>
              <%= link_to(h(released_file.file_file_name), released_file.file_content_type.nil? ? released_file.s3_url : released_file.file.url, :onclick => "_gaq.push(['_trackPageview', '/core-file-downloaded.html'], ['_trackEvent', 'Downloads', 'Core File Downloaded', '" + released_file.filename + "']);") %>
            <% else -%>
              <%= link_to(h(released_file.file_file_name), released_file.file_content_type.nil? ? released_file.s3_url : released_file.file.url ) %>
            <% end -%>
          </span>

          <span class="rLabel"> Size: </span>
          <span class="rValue"><%= h released_file.file.size -%>  </span>

          <span class="rLabel"> Downloads: </span>
          <span class="rValue"><%= h released_file.downloads -%>  </span>
          <br />
        <% end %>
      <% end %>
    <% else -%>
      <div class="rName">No File Releases Yet!</div>
    <% end -%>
  <% end -%>
<% else -%>
  <h3>No File Releases Yet!</h3>
<% end -%>
</div><!--files-->
</div><!--content-->

<% end -%>
