<div class="content">

  <div style="float: right; margin-bottom: 5px;"><a href="<%= url_for(:action => 'latest_files.rss', :controller => 'project', :only_path => false) -%>"><img src="/images/feed-icon-28x28.png" border="0" alt="Subscribe to the Latest Files RSS" /></a></div>

<div id="data">
  
<%= will_paginate @releases -%>
  
<table class="data_table">

  <thead>
  <tr>
    <th>Date</th>
    <th>Name</th>
  </tr>
  </thead>

  <% unless @releases.nil? or @releases.empty? -%>

  <tbody>
    <% @releases.each do |release| -%>
      <% if !release.nil? and !release.package.nil? and !release.package.project.nil? -%>
      <tr class="Open">
				<td><strong><%= release.created_at.strftime('%d %b %Y') -%></strong></td>
				<td><%= release.package.project.name_and_home_page -%>
					<br />Package: <a href="/project/files/<%= release.package.project.id -%>"><%= h release.package.name -%></a>
					<br />Version: <a href="/project/files/<%= release.package.project.id -%>"><%= h release.name -%></a>
				</td>
      </tr>
      <% end -%>

    <% end -%>
    </tbody>

  <% else -%>

    <tr><td colspan="3">No Releases Found!</td></tr>

  <% end -%>

</table>

<%= will_paginate @releases -%>

</div>

</div>