<div class="content">

<div id="data">
  
  <div id="letter_list">
  <%= link_to 'All', url_for(:action => 'list', :controller => 'project')%>
  <% letter_options.each do |letter| %>
    <% if params[:letter] == letter %>
      <span class="current"><%= letter %></span>
    <% else %>
      <%= link_to letter, url_for(:action => 'list', :controller => 'project', :letter => letter)%>
    <% end %>
  <% end %>
  </div>
  
  <hr />
  
<%= will_paginate @projects -%>
  
<table class="data_table">

  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  </thead>

  <% unless @projects.nil? or @projects.empty? -%>

  <tbody>
    <% @projects.each do |project| -%>

      <tr class="Open">
        <td class="strong"><%= link_to(project.name, project.home_page) -%></td>
        <td><%= project.project_type.humanize -%></td>
        <td><%= h project.description -%></td>
      </tr>

    <% end -%>
    </tbody>

  <% else -%>

    <tr><td colspan="3">No Projects Found!</td></tr>

  <% end -%>

</table>

<%= will_paginate @projects -%>

</div>

</div>