<div class="content">
<% @curloc = 'bug' -%>

<div class="small_nav">

 <%= link_to '<img src="/images/icons/back.gif" alt="Back" title="Back" />', :action => :list, :id => @bug.project_id -%>
  <%= link_to "Back to List", :action => :list, :id => @bug.project_id -%>
</div>

<h4>Add Bug Report</h4>

<%= render "shared/form_errors", :target => @bug %>

<%= form_tag :action => 'add', :controller => 'bug' do -%>

  <div class="entry">
    <span class="label">Assigned To:</span>
    <span class="value">
      <%= select('bug', 'assigned_to_id', [['None', '100']] + @bug.project.users.collect{ |a| [a.login, a.id] }) -%>
    </span>
  </div>

  <div class="entry">
    <span class="label">Version:</span>
    <span class="value">
      <%= select('bug', 'version_id', [['None' , '-1']] + @bug.project.bug_versions.find_all_by_is_active(true).collect{ |a| [a.name, a.id] }) -%>
    </span>
  </div>

  <div class="entry">
    <span class="label">CMSMS Version:</span>
    <span class="value">
      <%= select('bug', 'cmsms_version_id', [['None' , '-1']] + BugVersion.find_all_by_project_id_and_is_active(6, true).collect{ |a| [a.name, a.id] }) -%>
    </span>
  </div>

  <div class="entry">
    <span class="label">Severity:</span>
    <span class="value">
      <%= select 'bug', 'severity_id', BugSeverity.all.collect { |c| [c.name, c.id] } -%>
    </span>
  </div>

  <div class="entry">
    <span class="label">Summary:</span>
    <span class="value">
      <%= text_field('bug', 'summary', :size => '100', :maxlength => '255') -%>
    </span>
  </div>

  <div class="entry">
    <div class="label strong">Detailed Description:</div>
       <%= text_area 'bug', 'description', { :cols => 100, :rows => 15 } -%>
      </div>
  
  <div class="entry">
    <div class="bt-forms">
    
      <%= hidden_field 'bug', 'project_id' -%>
      <%= submit_tag 'Submit New Bug' -%>
      <%= submit_tag 'Cancel', { :name => 'cancel' } -%>
	 
    </div>
  </div>

<% end -%>
</div><!--content-->
