<% if @project.nil? -%>
<div id="content">
	<h3>Project Not Found!</h3>
</div>

<% else -%>

<div class="content">
<% @curloc = 'bug' -%>

<div class="small_nav">

  <%= link_to '<img alt="Submit New Bug" src="/images/icons/newobject.gif "/>'.html_safe, :action => :add, :id => @project_id -%>
  <%= link_to "Submit New Bug", :action => :add, :id => @project_id -%>
</div>

<div class="filter">&nbsp;&nbsp;&nbsp;
  <label for="show_closed">
    <img alt="Show Closed" src="/images/icons/view.gif "/>&nbsp;&nbsp;
    Show Closed:&nbsp;
    <%= form_tag "/bug/list/#{@project_id}", :remote => true, 'data-type' => "html", :id => 'show_closed_form', :style => 'display: inline;' do |f| %>
      <%= check_box_tag 'show_closed', '1', @show_closed, :id => 'show_closed_check_box', :page => params[:page] %>
      <%= hidden_field_tag 'page', params[:page] %>
    <% end %>
  </label>

<div class="entry">
<%= form_tag({:action => 'view'}, {:method => 'get'}) do -%>
  
  <span class="label strong">  Jump to Bug # </span>
  <%= text_field_tag 'id', '', :size => 4 -%> 
  <span class="bt-forms">
  <%= submit_tag 'Submit' -%>
  </span><!--bt-forms-->
  <% end -%>
  
</div><!--entry-->
  
</div><!--filter-->

<div id="data">

	<%= render :partial => 'bug/bug_list' -%>
</div>
</div><!--content-->

<% end -%>
