<div class="content">
<% @curloc = 'bug' -%>

<% if @bug.nil? -%>

<h2>Bug cannot be found</h2>

<% else -%>

<div class="small_nav">
  <%= link_to "Back to List", :action => :list, :id => @bug.project_id -%>
</div>


<%= render "shared/form_errors", :target => @bug %>

<h2>[#<%= @bug.id -%>] <%= @bug.summary -%></h2>

<%= form_tag :action => 'update' do -%>

<div class="gravatar_user">
  <%= image_tag @bug.created_by.gravatar_url(:size => 50) -%>
</div>

  <div class="entry">
    <span class="label strong">Created By:</span>
    <span class="value"><%= @bug.created_by.name_and_link -%></span>
  </div>

  <div class="entry">
    <span class="label strong">Date Submitted:</span>
    <span class="value"><%= @bug.created_at -%></span>
  </div>

<br clear="both" />

  <div class="entry">
    <span class="label strong">Assigned To:</span>
    <span class="value">
      <%= (current_user != :false and current_user.member_of?(@bug.project) or current_user == @bug.created_by) ? 
        select('bug', 'assigned_to_id', [['None' , '100']] + @bug.project.users.collect{ |a| ["#{a.full_name} (#{a.login})", a.id] }) : 
        (@bug.assigned_to.nil? ? 'None' : @bug.assigned_to.name_and_link) -%>
    </span>
  </div>

  <div class="entry">
    <span class="label strong">Version:</span>
    <span class="value">
      <%= (current_user != :false and current_user.member_of?(@bug.project) or current_user == @bug.created_by) ? 
        select('bug', 'version_id', [['None' , '-1']] + @bug.project.bug_versions.collect{ |a| [a.name, a.id] }) :
        (@bug.version.nil? ? 'None' : @bug.version.name) -%>
    </span>
  </div>

  <div class="entry">
    <span class="label strong">CMSMS Version:</span>
    <span class="value">
      <%= (current_user != :false and current_user.member_of?(@bug.project) or current_user == @bug.created_by) ? 
        select('bug', 'cmsms_version_id', [['None' , '-1']] + BugVersion.find_all_by_project_id_and_is_active(6, true).collect{ |a| [a.name, a.id] }) :
        (@bug.cmsms_version_id.nil? ? 'None' : @bug.cmsms_version_id.name) -%>
    </span>
  </div>

  <div class="entry">
    <span class="label strong">Severity:</span>
    <span class="value">
      <%= (current_user != :false and current_user.member_of?(@bug.project) or current_user == @bug.created_by) ? 
        select('bug', 'severity_id', BugSeverity.all.collect { |c| [c.name, c.id] }) :
        (@bug.severity.nil? ? 'None' : @bug.severity.name) -%>
    </span>
  </div>

  <div class="entry">
    <span class="label strong">Resolution:</span>
    <span class="value">
      <%= (current_user != :false and current_user.member_of?(@bug.project) or current_user == @bug.created_by) ? 
        select('bug', 'resolution_id', BugResolution.all.collect { |c| [c.name, c.id] }) :
        (@bug.resolution.nil? ? 'None' : @bug.resolution.name) -%>
    </span>
  </div>
  
  <div class="entry">
    <span class="label strong">State:</span>
    <span class="value">
      <%= (current_user != :false and current_user.member_of?(@bug.project) or current_user == @bug.created_by) ? 
        select('bug', 'state', [['Open'], ['Closed']]) : 
        @bug.state -%>
    </span>
  </div>

  <div class="entry">
    <div class="label strong">Summary:</div>
    <div class="value">
      <%= (current_user != :false and current_user.member_of?(@bug.project) or current_user == @bug.created_by) ?
        text_field('bug', 'summary', :size => '100', :maxlength => '255') :
        @bug.summary -%>
    </div>
  </div>

  <div class="entry">
    <div class="label strong">Detailed Description:</div>
    <div class="value">
      <%= (current_user != :false and current_user.member_of?(@bug.project) or current_user == @bug.created_by) ? 
        text_area('bug', 'description', :cols => '100', :rows => '15') : 
        '<pre>' + h(word_wrap(@bug.description, 80)) + "</pre>" -%>
    </div>
  </div>
  
  <% if current_user != :false and current_user.member_of?(@bug.project) or current_user == @bug.created_by -%>
  <div class="entry">
    <div class="label strong">Add Comment:</div>
    <div class="value">
      <%= text_area_tag "add_comment", '', { :cols => 100, :rows => 15 } -%>
    </div>
  </div>
  <% end -%>

  <%= hidden_field 'bug', 'id' -%>
  <% if current_user != :false -%>
  <div class="bt-forms">
    <%= submit_tag 'Update Details' -%>
	</div><!--bt-forms-->
  <% end -%>

<% end -%>

<br />
<br />

<h2>History</h2>

<% unless @bug.comments.empty? -%>
<h3>Comments</h3>
<div class="commentsbox">
  <% @bug.comments.each do |comment| -%>
	<div class="gravatar_user">
		<%= image_tag comment.user.gravatar_url(:size => 50) -%>
	</div>
    <div class="entry">
      <pre>
Date: <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>
Posted By: <%= comment.user.name_and_link %>

<%= h(word_wrap(comment.comment)) %>
      </pre>
    </div>
  <% end -%>
</div>
<% end -%>

<% unless current_user == :false -%>
  <%= form_tag :action => 'add_comment' do -%>
    <div class="entry">
      <div class="label strong"><strong>Add Comment:</strong></div>
      <div class="value">
        <%= text_area_tag "add_comment", '', { :cols => 100, :rows => 15 } -%><br />
       
      </div>
	  <div class="bt-forms">
		<%= submit_tag 'Add Comment' -%>
		</div><!--bt-forms-->
        <%= hidden_field_tag 'bug_id', @bug.id -%>
    </div>
  <% end -%>
<% end -%>

<% unless @bug.versions.empty? -%>
  <h3>Changes</h3>
  <div class="historybox">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Changed By</th>
          <th>Field Name</th>
          <th>Change</th>
        </tr>
      </thead>
      <tbody>
        <% @bug.changes.each do |version,key_vals| %>
          <% name = version.respond_to?(:whodunnit) ? User.find(version.whodunnit).name_and_link_with_nick : '' %>
          <% key_vals.each do |k, v| %>
            <tr>
              <td><%= version.created_at.strftime('%Y-%m-%d %H:%M') %></td>
              <td><%= name %></td>
              <td><%= k %></td>
              <td width="50%"><%= v %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% end -%>
</div><!--content-->
