<div class="content">
<% @curloc = 'bug' -%>

<div class="small_nav">
  <%= link_to "Back to List", :action => :list, :id => @bug.project_id -%>
</div>

<%= error_messages_for 'bug' -%>

<h2>[#<%= @bug.id -%>] <%= @bug.summary -%></h2>

<h3>Details</h3>

<% form_tag :action => 'update' do -%>

  <div class="entry">
    <span class="label">Created By:</span>
    <span class="value"><%= @bug.created_by.name_and_link -%></span>
  </div>

  <div class="entry">
    <span class="label">Date Submitted:</span>
    <span class="value"><%= h @bug.created_at -%></span>
  </div>

  <div class="entry">
    <span class="label">Assigned To:</span>
    <span class="value">
      <%= current_user != :false and current_user.member_of?(@bug.project) ? 
        select('bug', 'assigned_to_id', [['None' , '100']] + @bug.project.users.collect{ |a| [a.login, a.id] }) : 
        @bug.assigned_to.name_and_link -%>
    </span>
  </div>

  <div class="entry">
    <span class="label">Version:</span>
    <span class="value">
      <%= current_user != :false and current_user.member_of?(@bug.project) ? 
        select('bug', 'version_id', [['None' , '-1']] + @bug.project.bug_versions.collect{ |a| [a.name, a.id] }) :
        h(@bug.version.name) -%>
    </span>
  </div>

  <div class="entry">
    <div class="label">Severity:</div>
    <div class="value">
      <%= select 'bug', 'severity_id', BugSeverity.all.collect { |c| [c.name, c.id] } -%>
    </div>
  </div>

  <div class="entry">
    <div class="label">Resolution:</div>
    <div class="value">
      <%= select 'bug', 'resolution_id', BugResolution.all.collect { |c| [c.name, c.id] } -%>
    </div>
  </div>
  
  <div class="entry">
    <span class="label">State:</span>
    <span class="value">
      <%= current_user != :false and current_user.member_of?(@bug.project) ? 
        select('bug', 'state', [['Open'], ['Closed']]) : 
        h(@bug.state) -%>
    </span>
  </div>

  <div class="entry">
    <span class="label">Summary:</span>
    <span class="value">
      <%= current_user != :false and current_user.member_of?(@bug.project) ?
        text_field('bug', 'summary', :size => '50', :maxlength => '255') :
        h (@bug.summary) -%>
    </span>
  </div>

  <div class="entry">
    <div class="label strong">Detailed Description:</div>
    <div class="entry"><pre><%= word_wrap(@bug.description, 80) %></pre></div>
  </div>

  <%= hidden_field 'bug', 'id' -%>
  <% if current_user != :false -%>
  <div class="bt-forms">
    <%= submit_tag 'Update Details' -%>
	</div><!--bt-forms-->
  <% end -%>

<% end -%>

<h3>History</h3>

<div class="commentsbox">
  <div class="header strong">Comments</div>
  <% @bug.comments.each do |comment| -%>
    <div class="entry">
      <pre>
Date: <%= h comment.created_at %>
Posted By: <%= comment.user.name_and_link %>

<%= h(word_wrap(comment.comment)) %>
      </pre>
    </div>
  <% end -%>
</div>

<% unless current_user == :false -%>
  <% form_tag :action => 'add_comment' do -%>
    <div class="entry">
      <div class="label strong"><strong>Add Comment:</strong></div>
      <div class="value">
        <%= text_area_tag "add_comment", '', { :cols => 50, :rows => 10 } -%><br />
       
      </div>
	  <div class="bt-forms">
		<%= submit_tag 'Add Comment' -%>
		</div><!--bt-forms-->
        <%= hidden_field_tag 'bug_id', @bug.id -%>
    </div>
  <% end -%>
<% end -%>
</div><!--content-->